/* ---------------------------------------------------------------------------------------------------------- */
body {
	font-family:'Montserrat', sans-serif;
	font-size: 14px;}

.container {
	max-width: 1300px;
	width: 85%;
	margin: 0 auto}

.container-fluid {
	width: 100%;}

a {
	text-decoration: none;}

.section-title-cursive {
	color: #333;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	text-align: center;}

.section-title-bolder {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	margin: 25px 0 40px 0;
	color: #333;}

.section-title-underline {
	height: 3px;
	width: 60px;
	background: #f38181;
	margin: 0 auto;}


@media (max-width: 400px) {
	.section-title-bolder {
		margin: 25px 0;}}

@media (max-width: 300) {
	.section-title-bolder {
		margin: 15px 0;}}

/* --------------------------- Header -> nav --------------------------- */
header {
	background: url(../images/header-background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 25px 0 100px 0}

header nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center}

.logo p {
	color: #fff;
	font-size: 30px;
	font-weight: bold;}

nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: auto;}

.burger-menu {display: none;}

nav ul li {
	list-style-type: none;}

nav ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding-bottom: 10px}

nav ul li a:hover {
	color: #fce38a;
	border-bottom: 2px solid #fce38a}

nav ul li + li {
	margin-left: 50px;}

div.nav__buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;}

.nav__buttons button {
	background: transparent;
	border: none;
	cursor: pointer;}

.nav__buttons button:active, .nav__buttons button:focus {
	outline: none;}

.nav__buttons img{
	height: 20px;}

.nav__buttons img:hover {
	filter: sepia(21%) saturate(7062%) hue-rotate(306deg) brightness(107%) contrast(120%);}

.nav__buttons .first-button {
	margin: 0 40px 0 50px}

@media (max-width: 960px) {
	nav ul {
		padding-top: 25px;
		padding-right: 17%;
		height: 100%;
		background: #6dbec5;
		position: absolute;
		top: 0;
		display: flex;
		flex-direction: column;
		position: absolute;
		right: -100%;
		transition: right 0.4s ease-in-out}	

	div.nav__buttons {
		margin-left: auto;}

	div.burger-menu {
		display: block;
		margin-bottom: 12px;}

	div.burger-menu span {
		background: #fff;
		width: 30px;
		height: 2px;
		display: inline-block;
		position: relative;
		transition: all 0.2s ease-in-out}

	div.burger-menu span:after {
		content: '';
		background: #fff;
		position: absolute;
		top: 9px;
		width: 30px;
		height: 2px;
		transition: all 0.4s ease-in-out}

	div.burger-menu span:before {
		content: '';
		background: #fff;
		position: absolute;
		top: -9px;
		width: 30px;
		height: 2px;
		transition: all 0.4s ease-in-out}

	div.burger-menu:hover {
		filter: sepia(21%) saturate(7062%) hue-rotate(306deg) brightness(107%) contrast(120%);}
	
	.nav__buttons .first-button {
		margin: 0}
	
	.second-button {
		margin: 0 20px;}

	div.burger-menu.burger-active span.disnone{
		background: transparent;
		transition: all 0.2s ease-in-out}

	div.burger-menu.burger-active span:after {
		background: #fff;
		transform: rotate(135deg);
		top: 0px;
		transition: all 0.4s ease-in-out}

	div.burger-menu.burger-active span:before {
		background: #fff;
		transform: rotate(45deg);
		top: 0px;
		transition: all 0.4s ease-in-out}

	header {
		overflow: hidden;
		position: relative;}

	nav ul.nav-active {
		right: 0;
		transition: right 0.4s ease-in-out}

	nav ul li + li {
		margin-top: 15px;
		margin-left: 0}
	nav ul li a {
		padding-bottom: 0}

	nav ul li a:hover {
		color: #fce38a;
		border-bottom: 2px solid #fce38a}}


@media (max-width: 460px) {
	.nav__buttons .first-button {
		margin: 0}

	.second-button {
		margin: 0 10px 0 7px;}

	nav ul {
		padding-top: 14px;}}




/* --------------------------- Header -> Banner --------------------------- */
div.banner {
	padding-top: 130px;}

.banner-cursive {
	font-size: 72px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	line-height: 1.2;}

.banner-mogo {
	color: #fff;
	font-weight: bold;
	font-size: 130px;
	text-align: center;
	text-transform: uppercase;
	line-height: 0.933;
	margin: 60px 0 70px 0}

.banner-underline {
	background-color: #fff;
	width: 60px;
	height: 3px;
	margin: 0 auto;}

.banner-link {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 50px;}

.banner-link a{
	text-transform: uppercase;
	color: #fff;
	padding: 12px 30px;
	border: 3px solid #fff;
	display: inline-block;}

.banner-link a:hover {
	background: rgba(255, 255, 255, 0.2);}

@media (max-width: 1060px) {
	.banner-cursive {
		font-size: 42px;}

	.banner-mogo {
		font-size: 100px}

	div.banner {
		padding-top:60px;}}

@media (max-width: 720px) {
	.banner-cursive {
		font-size: 32px;}

	.banner-mogo {
		max-width: 500px;
		margin: 32.5px auto;
		font-size: 80px}

	header {
		padding: 25px 0 50px 0}}

@media (max-width: 580px) {
	.banner-cursive {
		font-size: 22px;}

	.banner-mogo {
		font-size: 55px;
		max-width: 300px;}

	div.banner {
		padding-top: 40px;}

	header {
		padding: 10px 0 30px 0}

	.container {
		width: 90%;
		margin: 0 auto}}



@media (max-width: 390px) {
	.banner-mogo {
		margin: 30px 0}

	.banner-cursive {
		font-size: 20px;}

	.banner-mogo {
		font-size: 35px;
		max-width: 300px;}

	.banner-link {
	margin-top: 40px;}

	.facts-last-child {
		display: none;}}


@media (max-width: 330px) {
	.facts-pre-last-child {
		display: none;}}


/* --------------------------- Section -> What We Do --------------------------- */
section.what-we-do {
	padding: 100px 0;
	background: #fff;}

.about-wrapper {
	max-width: 950px;
	margin: 0 auto;}

.section-paragraph {
	text-align: center;
	color: #999;
	font-size: 15px;
	line-height: 1.6;
	margin-top: 50px;
	font-style: italic;
	font-family: 'Roboto', sans-serif;}

.occupation {
	padding-top: 100px;
	flex-wrap: wrap;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;}

.occupation__item + .occupation__item {
	margin-left: 40px;}

.occupation__item {
	position: relative;
	flex: 30%;}

.occupation__item img {
	height: 100%;
	width: 100%;}

.item_onhover {
	display: none;
	position: absolute;
	height: 100%;
	top: 0;}

.item_onhover img[alt="about hover icon"] {
	position: absolute;
	z-index: 3;
	top: 40%;
	height: 21px;} 

.item_onhover img[alt="about hover icon 2"] {
	position: absolute;
	z-index: 3;
	top: 30%;
	height: 45px;} 


.item_onhover img[alt="hover image"] {
	opacity: 90%}

.about-hover-heading {
	position: absolute;
	top: 53%;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	z-index: 3;
	text-transform: uppercase;}

.occupation__item:hover {
	box-shadow: 10px 10px 0 #95e1d3}

.occupation__item:hover .item_onhover {
	justify-content: center;
	display: flex;}

@media (max-width: 1060px) {
	.item_onhover img[alt="about hover icon"] {
		top: 35%;} 

	.item_onhover img[alt="about hover icon 2"] {
		top: 20%;}

	.about-hover-heading {
		top: 53%;}}

@media (max-width: 958px) {
	.occupation__item {
		flex: 100%;}

	.item_onhover img[alt="about hover icon"] {
		height: 35px;
		top: 35%;} 

	.item_onhover img[alt="about hover icon 2"] {
		height: 70px;
		top: 35%;} 

	.about-hover-heading {
		font-size: 35px;
		top: 50%;}
	
	.spec-ico {
		top: 60%;}

	.occupation__item + .occupation__item {
		margin: 15px 0 0 0;}

	.occupation__item:hover {
		box-shadow: none;}
	
	.occupation {
		padding-top: 60px;}

	section.what-we-do {
		padding: 60px 0;}}


@media (max-width: 480px) {
	.item_onhover img[alt="about hover icon 2"] {
	    top: 30%;}}
@media (max-width: 400px) {
	.item_onhover img[alt="about hover icon"] {
    	top: 30%;}
	.item_onhover img[alt="about hover icon 2"] {
	    top: 25%;}}
@media (max-width: 360px) {
	.item_onhover img[alt="about hover icon 2"] {
	    top: 20%;}}



/* --------------------------- Section -> Facts --------------------------- */
.facts {
	padding: 70px 0;
	background: #95e1d3;}

.facts .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;}

.fact__number {
	color: #fff;
	line-height: 1.2;
	font-size: 72px;
	font-weight: bold;
	text-align: center;}

.fact__title {
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;}




/* --------------------------- Section -> Services --------------------------- */
section.services {
	padding: 100px 0;}

.services-wrapper {
	padding-top: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;}

.service__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 30%;}

.service-icon {
	display: inline-block;
	flex: 20%;}

.service-icon img {
	margin-right: 15px;
	height: 30px}

.service-text__title {
	font-weight: medium;
	text-transform: uppercase;
	padding-bottom: 20px;
	color: #333;}

.service-text__description {
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;}

div.services-underline {
	flex: 100%;
	height: 1px;
	width: 100%;
	background: #e5e5e5;
	margin: 50px 0;}


@media (max-width: 880px) {
	.service__item {
		flex: 47%;}
	
	.mr-880 {
		margin-right: 20px;}

	div.services-underline {
		display: none;}

	.margin-880 {
		margin-bottom: 50px;}

	.service-text__title {
		padding-bottom: 12.5px;}

	.fact__number {
		font-size: 37px;}

	.facts {
		padding: 30px 0;}

	.service-text__description {
		font-size: 13px;}}



@media (max-width: 460px) {
	section.services {
		padding: 70px 0}

	.service__item {
		flex: 100%;}

	.margin-400 {
		margin-bottom: 35px;}

	.mr-880 {
		margin-right: 0;}

	.facts .container {
		width: 95%;}

	.fact__number {
		font-size: 27px;}

	.facts {
		padding: 22.50px 0;}

	.service-text__description {
		font-size: 12px;}}


@media (max-width: 410px) {
	section.services {
		padding: 50px 0}

	.facts .container {
		width: 97.5%;}

	.fact__number {
		font-size: 18px;}

	.facts {
		padding: 15px 0;}}



@media (max-width: 400px) {
	.service__item {
		max-width: 90%;
		margin: 0 auto;
		flex: 100%;}
	
	.margin-880 {
		margin-bottom: 0}

	.margin-400 {
		margin-bottom: 50px;}}




/* --------------------------- Section -> Unique Design --------------------------- */
section.unique-design {
	padding: 100px 0 0 0;
	background-image: url(../images/features-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;}

.devices-wrapper {
	width: 45%;
	margin: 90px auto 0 auto;}

.devices-wrapper div {
	max-width: 100%}

.devices-wrapper img {
	background: transparent;
	max-width: 100%}

div.ipad {
	position: relative;}

div.iphone {
	position: absolute;
	z-index: 1;
	bottom: -15%;
	right: -25%;
	max-width: 200px;}

div.iphone {
	max-width: 50%;}


@media (max-width: 840px) {
	section.unique-design {
		padding: 60px 0 0 0;}

	.devices-wrapper {
		width: 55%;
		margin: 50px auto 0 auto}}

@media (max-width: 500px) {
	section.unique-design {
		padding: 35px 0 0 0;}

	.devices-wrapper {
		width: 55%;
		margin: 35px auto 0 auto}}



/* --------------------------- Section -> Spoilers --------------------------- */
.features {
	padding: 100px 0}

.features div p.section-paragraph {
	max-width: 950px;
	margin: 45px auto 0 auto;}

.spoilers-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 100px;}

.spoiler__main-img, .spoiler__main-spoilers {
	flex: 47%;}

.spoiler__main-img {
	margin-right: 28px;}

.spoiler__main-img img {
	width: 100%;}

.spoiler__item {
	position: relative;
	overflow: hidden;}

.spoiler-body {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 12px;
	background: #fff;
	border: 1px solid #999;}

.spoiler-body img {
	display: inline-block;
	margin-right: 15px;

	height: 30px}

.spoiler-body p {
	font-weight: medium;
	text-transform: uppercase;
	color: #333;}

.spoiler-text-wrapper {
	position: relative;
	margin-top: -180px;
	top: -360px;
	z-index: 0;
	border: 1px solid #999;
	border-top: none;
	padding-right: 20px;
	transition: all 0.4s ease-in-out}

.spoiler-text-wrapper.active-text {
	top: 0;
	transition: all 0.4s ease-in-out;
	margin-top: 0;}

.spoiler-text {
	max-height: 180px;
	overflow: auto;
	box-sizing: border-box;
	padding: 20px 5px 20px 20px;}

.spoiler-text::-webkit-scrollbar {
	width: 5px;}

.spoiler-text::-webkit-scrollbar-track {
	background: #f5f5f5;}

.spoiler-text::-webkit-scrollbar-thumb {
	background: #95e1d3;
	border-radius: 2px}

.spoiler-text p {
	color: #999;
	font-size: 15px;
	font-style: italic;
	font-family: 'Roboto', sans-serif;}

div.spoiler-arrow {
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: inline-block;
	margin-left: auto;}

div.spoiler-arrow span {
	position: relative;
	font-size: 0;}

div.spoiler-arrow span:after {
	position: absolute;
    left: 8px;
    top: 7px;
	display: block;
	content: '';
	background: #ccc;
	height: 2px;
	width: 15px;
	transform: rotate(-45deg);
	transition: all 0.3s ease-in-out}

div.spoiler-arrow span:before {
	position: absolute;
    left: -2px;
    top: 7px;
	display: block;
	content: '';
	background: #ccc;
	height: 2px;
	width: 15px;
	transform: rotate(45deg);
	transition: all 0.3s ease-in-out}

div.spoiler-arrow:hover span:before, div.spoiler-arrow:hover span:after {
	background: #95e1d3;}

div.spoiler-arrow.active-arrow span:after {
	background: #95e1d3;
	transform: rotate(45deg);
	transition: all 0.3s ease-in-out}

div.spoiler-arrow.active-arrow span:before {
	background: #95e1d3;
	transform: rotate(-45deg);
	transition: all 0.3s ease-in-out}


@media (max-width: 1276px) {
	.spoiler__main-img, .spoiler__main-spoilers {
		flex: 100%;}

	.spoiler__main-img {
		margin-top: 25px;
		margin-bottom: 35px;
		margin-right: 0;}

	.spoiler__main-img img {
		width: 100%;}

	.spoiler-text {
		max-height: 240px;}

	.spoiler-text-wrapper {
		margin-top: -240px;
		top: -480px;}}

@media (max-width: 550px) {
	.features {
		padding: 70px 0}}

@media (max-width: 880px) {
	.features {
		padding: 70px 0}

	.spoilers-wrapper {
		margin-top: 50px;}}


@media (max-width: 617px) {
	.spoilers-wrapper {
		margin-top: 30px;}}



/* --------------------------- Section -> Slider --------------------------- */
section.slider-section {
	background: #f8f8f8;
	padding: 70px 0}

.slider-wrapper {
	position: relative;
	padding: 0 30px}

.slider__item:focus, .slider__item:active {
	border: none;
	outline: none;}

.slick-list {
  overflow: hidden;}

.slick-track {
  display: flex;}

.slider-wrapper .slick-arrow {
  position: absolute;
  top: 40%;
  font-size: 0;
  height: 30px;
  border: none;
  background: transparent;
  z-index: 100;
  cursor: pointer;}

.slider-wrapper .slick-arrow:focus, .slider-wrapper .slick-arrow:active {
  outline: none;}

.slider-wrapper .slick-arrow:active, .slider-wrapper .slick-arrow:hover {
	filter: sepia(13%) saturate(887%) hue-rotate(108deg) brightness(93%) contrast(89%);}

.slider-wrapper .slick-arrow.slick-prev {
  left: 0;
  background-image: url(../images/slide-button-prev.svg);
  background-repeat: no-repeat;
  background-position: center center;}

.slider-wrapper .slick-arrow.slick-next {
  right: 0;
  background-image: url(../images/slide-button-next.svg);
  background-repeat: no-repeat;
  background-position: center center;}

.slider__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;}

.slider__item-ico {
	flex: 12%;
	margin-left: 1px;
	margin-right: 60px;}

.slider__item-ico img {
	width: 100%}

.slider__item-text {
	flex: 70%;}


.slider__item-quote {
	color: #999;
	font-family: Roboto, sans-serif;
	font-style: italic;
	margin-bottom: 30px;
	font-size: 20px;}

.slider__item-underline {
	background: #f38181;
	height: 3px;
	width: 60px;
	display: inline-block;}

.slider__item-name {
	display: inline-block;
	font-family: 'Kaushan Script', cursive;
	color: #333;
	margin-left: 10px;
	font-size: 20px;}



@media (max-width: 850px) {
	.slider__item-ico {
		margin-right: 40px;}

	.slider__item-text {
		flex: 60%;}}

@media (max-width: 700px) {
	.slider__item-ico {
		flex: 20%;
		margin-right: 20px;}}

@media (max-width: 550px) {
	.slider__item-ico {
		flex: 30%;
		margin-right: 15px;}

	.slider__item-text {
		flex: 60%;}

	section.slider-section {
		background: #f8f8f8;
		padding: 35px 0}}


@media (max-width: 400px) {
	.slider__item-ico {display: none;}}


@media (max-width: 296px) {
	.slider__item-underline {
		width: 45px;}}



/* --------------------------- Section -> Our Team --------------------------- */
.our-team {
	padding: 100px 0 0 0}

.our-team .container .section-paragraph {
	max-width: 950px;
	margin-left: auto;
	margin-right: auto;}

.team-members-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	padding-top: 80px;}

.team-member img[alt="team member photo"] {
	max-width: 100%;}

.team-member {
	position: relative;
	display: inline-block;
	flex: 25%;}

.team-member .member-name {
	display: none;}

.team-member .member-woork {
	display: none;}

.team-member + .team-member {
	margin-left: 30px;}

.member-onhover {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;}

.onhover-social-icons-row {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	position: absolute;
	z-index: 1;}

.social-icon {
	background: #fce38a;}

.icon-1 a, .icon-2 a, .icon-3 a, .icon-4 a {
	display: inline-block;}

.social-icon:hover {
	background: #f38181;}

.social-icon:hover a {
	filter:brightness(100000%);}

.icon-1 a {padding: 15px 23px 3px 22px}
.icon-2 a {padding: 16px 14px 0px 14px}
.icon-3 a {padding: 15px 18px 0px 20px;}
.icon-4 a {padding: 15px 17px 13px 17px}

.social-icon + .social-icon {
	border-left: 1px solid #f9bd87;}

.social-icon img {
	height: 25px}

.onhover-image {
	display: inline-block;}

.onhover-image img {
	width: 100%;
	height: 100%;
	opacity: 90%}

.team-member:hover .member-onhover {
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;}

.team-member:hover img[alt="team member photo"] {
	box-shadow: 10px 10px 0 #95e1d3}

.member-name {
	padding: 20px 0 15px 0;
	color: #333;
	font-size: 14px;
	text-align: center;}

.member-woork {
	color: #999;
	font-size: 15px;
	font-style: italic;
	font-family: "Roboto", sans-serif;
	text-align: center;}

.names-wrapper {
	display: flex;}

.section-names__item {
	flex: 25%;}

.section-names__item + .section-names__item {
	margin-left: 30px;}

.members-names {
	padding-bottom: 100px;}


@media (max-width: 950px) {
	.icon-1 a {padding: 10px 18px 3px 18px}
	.icon-2 a {padding: 11px 9px 0px 9px}
	.icon-3 a {padding: 10px 13px 0px 15px;}
	.icon-4 a {padding: 10px 17px 8px 12px}

	.social-icon img {
		height: 20px}

	.members-names {
		padding-bottom: 80px;}}

@media (max-width: 750px) {
	.icon-1 a {padding: 7px 15px 3px 15px}
	.icon-2 a {padding: 8px 6px 0px 6px}
	.icon-3 a {padding: 7px 10px 0px 12px;}
	.icon-4 a {padding: 7px 14px 3px 9px}

	.social-icon img {
		height: 17px}

	.member-name {
		padding: 12.5px 0 7.5px 0;}}

@media (max-width: 650px) {
	.icon-1 a {padding: 4px 12px 0px 12px}
	.icon-2 a {padding: 5px 3px 0px 3px}
	.icon-3 a {padding: 4px 7px 0px 9px;}
	.icon-4 a {padding: 4px 11px 0px 6px}

	.social-icon img {
		height: 14px}

	.team-member:hover img[alt="team member photo"] {
		box-shadow: 7px 7px 0 #95e1d3}

	.member-name {
		padding: 7.5px 0 4.5px 0;}

	.our-team {
		padding: 50px 0 0 0}

	.members-names {
		padding-bottom: 50px;}}

@media (max-width: 460px) {
	.icon-1 a {padding: 3px 10px 0px 10px}
	.icon-2 a {padding: 4px 1px 0px 1px}
	.icon-3 a {padding: 3px 5px 0px 7px;}
	.icon-4 a {padding: 3px 9px 0px 4px}

	.social-icon img {
		height: 16px}

	.team-member:hover img[alt="team member photo"] {
		box-shadow: 5px 5px 0 #95e1d3}

	.member-onhover {
		-ms-align-items: flex-end;
		align-items: flex-end;}

	.onhover-social-icons-row {
		margin-bottom: 10px}}

@media (max-width: 420px) {
	.team-member:hover .member-onhover {
		display: none;}

	.team-member {
		flex: 100%;}

	.team-member + .team-member {
		margin: 55px 0 0 0;}

	.members-names {
		display: none;}

	.team-member .member-name {
		display: block;}

	.team-member .member-woork {
		display: block;}

	.member-name {
		padding: 10px 0 5px 0;
		font-size: 20px;}

	.member-woork {
		font-size: 20px;}

	.team-member:hover img[alt="team member photo"] {
		box-shadow: none;}

	.our-team {
		padding: 30px 0}}





/* --------------------------- Section -> Logos --------------------------- */
.logos {
	background: #f8f8f8;
	padding: 3% 0}

.logos .container img {
	width: 100%;}




/* --------------------------- Section -> Examples of Works --------------------------- */
.our-works {
	padding: 100px 0;}

.our-works .container .section-paragraph {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;}

.works-wrapper {
	margin-top: 100px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;}

.big_work {
	grid-row: span 2}

.works__item {
	padding: 0 0 80% 0;
	position: relative;}

.works__item:hover .works__item__onhover {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;}

.works__item img[alt="work main image"] {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: -1;
	width: 100%;
	height: 100%;}

.works__item__onhover {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;}

.woks-paragraph-1 {
	z-index: 2;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	margin: 10px 0 2.5px 0;}

.work-paragraph-2 {
	z-index: 2;
	font-size: 15px;
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-style: italic;}

img[alt="works ico onhover"] {
	display: block;
	z-index: 2;
	height: 30px;}

img[alt="works image onhover"] {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 90%}

@media (max-width: 850px) {
	.works-wrapper {
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;}}

@media (max-width: 650px) {
	.works-wrapper {
		margin-top: 50px;}

	.our-works {
		padding: 50px 0;}}

@media (max-width: 400px) {
	.works__item:hover .works__item__onhover {
		display: none;}}



/* --------------------------- Section -> Slider 2 --------------------------- */
img[src="images/slider-2-img-1.jpg"], img[src="images/slider-2-img-1.jpg"], img[src="images/slider-2-img-1.jpg"] {
	background: transparent;}

section.slider-section.slider-section-2 {
	background: #f8f8f8;
	padding: 0 0 70px 0;
	background: #fff;}

img[alt="slider-2"] {
	border-radius: 50%}




/* --------------------------- Section -> What People Say --------------------------- */
.what-people-say {
	padding: 100px 0;
	background-image: url(../images/reviews-background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover}

.reviews-wrapper {
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;}

.review {
	display: flex;
	flex: 50%;}

.r-4 {
	margin-top: 85px;}

.reviewer__avatar {
	flex: 25%}

.reviewer__avatar img{
	width: 100%;}

.reviewer__text {
	padding: 0 40px 0 20px;
	flex: 70%}

.hidden-400-paragraph {
	display: none;
	padding-top: 10px;
	font-family: "Roboto", sans-serif;
	color: #999;
	font-size: 15px;
	font-weight: 400;}

.reviewer-name {
	color: #333;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;}

.reviewer-position {
	margin: 10px 0 15px 0;
	color: #333;
	font-family: "Roboto", sans-serif;
	font-style: italic;
	font-size: 15px;}

.review-underline {
	width: 60px;
	height: 3px;
	background: #f38181;}

.reviewer-comment {
	margin-top: 20px;
	font-family: "Roboto", sans-serif;
	color: #999;
	font-size: 15px;
	font-weight: 400;}


@media (max-width: 850px) {
	.review {
		flex: 100%;}

	.r-4 {
		margin-top: 55px;}

	.r-3 {
		margin-top: 55px;}

	.reviews-wrapper {
		margin-top: 35px;}}


@media (max-width: 700px) {
	.what-people-say {
		padding: 50px 0;}

	.r-4 {
		margin-top: 45px;}

	.r-3 {
		margin-top: 45px;}

	.reviews-wrapper {
		margin-top: 25px;}}


@media (max-width: 550px) {
	.reviewer__text {
		padding: 0 35px 0 17.5px;
		flex: 60%}

	.reviewer__avatar {
		flex: 35%}}


@media (max-width: 400px) {
	.reviewer-comment {
		display: none;}

	.hidden-400-paragraph {
		display: block;
		max-width: 95%;
		margin: 0 auto;}

	.reviewer__avatar img {
		width: 95px}

	.r-4 {
		margin-top: 50px;}

	.r-3 {
		margin-top: 50px;}

	.reviewer-position {
		margin: 5px 0 10px 0;}
	
	.reviewer__text {
		padding: 0 0 0 10px;}}




/* --------------------------- Section -> What People Say --------------------------- */
.blog {
	padding: 100px 0}

.main-blog-wrapper {
	padding-top: 45px;
	display: flex;}

.blog__item {
	flex: 30%}

.blog__item + .blog__item {
	margin-left: 30px;}

.blog-illustration img {
	width: 100%}

.blog-illustration {
	position: relative;}

.blog-date {
	position: absolute;
	left: -10px;
	bottom: 10px;
	width: 60px;
	height: 70px;
	background: #95e1d3;}

.date__number {
	padding-top: 7px;
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-weight: 700;}

.date__moth {
	font-family: "Roboto", sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #fff;
	padding-left: 15px}

.blog-title {
	padding: 20px 0;
	color: #333;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;}

.blog-description {
	max-width: 100%;
	color: #999;
	font-family: "Roboto", sans-serif;
	font-size: 15px;}

.blog-underline {
	margin: 20px 0;
	background: #e0e0e0;
	width: 100%;
	height: 1px;}

.blog-stats {
	display: flex;}

.blog__views {
	padding-right: 15px;}

.blog__views img{
	display: inline-block;
	height: 11px;}

.blog__views p, .blog__comments p {
	display: inline-block;
	padding: 0 0 0 5px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-style: italic;
	color: #999;}

.blog__comments p {
	position: absolute;
	top: -1px;}

.blog__comments {
	position: relative;}

.blog__comments img {
	display: inline-block;
	height: 15px;}


@media (max-width: 800px) {
	.main-blog-wrapper {
		flex-wrap: wrap;}

	.blog__item {
		flex: 100%}

	.blog__item + .blog__item {
		margin: 50px 0 0 0;}

	.blog {
		padding: 75px 0}}



/* --------------------------- Section -> Map --------------------------- */
.map {
	padding: 55px 0;	
	background-image: url(../images/map-background.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;}

.map img {
	height: 30px;
	display: block;
	width: 20px;
	margin: 0 auto;}

.map-paragraph{
	text-align: center;}

.map-paragraph a{
	display: inline-block;
	padding: 15px 0;
	color: #f08080;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;}

.map-underline {
	width: 60px;
	height: 3px;
	background: #f08080;
	margin: 0 auto;}


@media (max-width: 650px) {
	.map {
		padding: 35px 0;}

	.map-paragraph a{
		padding: 7.5px 0 9px 0;}

	.map {
		padding: 25px 0;}

	.map-paragraph a{
		font-size: 21px;}}




/* --------------------------- Footer --------------------------- */
footer {
	padding: 100px 0}

.footer-wrapper {
	display: flex}

.follow__title {
	padding-top: 10px;
	color: #ccc;
	font-size: 46px;
	font-weight: 700;}

.follow__paragraph {
	margin: 35px 0;
	color: #999;
	font-size: 15px;
	font-family: "Roboto", sans-serif;}

.follow__followers {
	color: #333;}

.follow__followers span {
	color: #333;
	font-weight: 700;
	font-size: 17px;}

.footer-follow-us {
	padding-right: 30px;
	flex: 40%;}

.footer-mini-blog {
	flex: 30%;}

.footer-instagram {
	margin-left: 30px;
	flex: 30%;}

.follow__social-icons {
	display: flex;
	align-items: center;}

.footer-underline {
	margin: 17.5px 0;
	width: 100%;
	height: 1px;
	background: #e0e0e0;}

.follow__social-icons p {
	color: #999;
	font-size: 15px;
	font-family: "Roboto", sans-serif; 
	font-style: italic;
	margin-right: 20px}

.follow__social-icons img {
	display: inline-block;
	height: 15px;}

.mm15 {margin-right: 15px;}

img[alt="youtube"] {height: 12px;}

.footer-follow-us form input:active, .footer-follow-us form input:focus,
.footer-follow-us form button:active, .footer-follow-us form button:focus {
	outline: none;}

.footer-follow-us form {
	margin-top: 30px;
	display: flex;
	align-items: center;}

.footer-follow-us form input {
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-style: italic;
	color: #cccccc;
	padding: 15px;
	border-radius: none;
	border: 1px solid #e7e7e7;
	border-right: none;
	width: 230px;}

.footer-follow-us form button {
	cursor: pointer;
	margin-left: -4px;
	border: none;
	text-transform: uppercase;
	background: #90e0d0;
	font-weight: 700;
	color: #fff;
	border: 1.5px solid rgba(0, 0, 1, 0);
	padding: 15.5px 33px}

.footer-follow-us form button:hover {
	background: #fff;
	color: #90e0d0;
	border-color: #90e0d0;}

.mini-blog-title {
	margin-bottom: 40px;
	font-weight: 600;
	color: #333;
	text-transform: uppercase;}

.mini-blog-wrapper {
	display: flex;
	flex-direction: column;}

.mini-blog__item {display: flex; flex: 33.333%; align-items: center;}

.mini-blog__item + .mini-blog__item {
	margin-top: 24px;}

.mini-blog__illustration {
	flex: 30%;}

.mini-blog__illustration img {
	min-width: 125px;
	width: 100%;}

.mini-blog__text {flex: 70%; margin-left: 20px}

.mini-blog-description {
	padding-bottom: 5px;
	text-transform: uppercase;
	color: #333;
	font-size: 12px;
	font-weight: 600;}

.mini-blog-date {
	font-size: 13px;
	color: #999;
	font-style: italic;
	font-family: 'Roboto', sans-serif;}

.insta-photos-wrapper {
	display: flex;
	flex-wrap: wrap;}

.insta-photo {
	margin-left: 3px;
    flex: 31.333%;}

.insta-photo img {
    max-height: 88px;
    width: 100%;}

.insta-bottom {
	padding-top: 6%;}

.insta-bottom a{
	color: #333;
	font-size: 13px;
	font-family: "Roboto", sans-serif; 
	font-style: italic;}

.insta-bottom a:hover {
	color: #90e0d0;}

@media (max-width: 1199px) {
	.footer-wrapper {
		flex-direction: column;}

	.footer-follow-us {
		margin: 0;}

	.footer-mini-blog, .footer-instagram {
		display: none;}
	
	.footer-follow-us {padding-right: 0}

	footer {
		padding: 50px 0}

	.follow__title {
		padding-top: 0;}

	.follow__paragraph {
		margin: 25px 0;}}


@media (max-width: 410px) {
	.follow__title {
		text-align: center;
		font-size: 35px;}

	.follow__paragraph {
		margin: 15px 0;
		text-align: center;}

	.follow__followers {
		text-align: center;}

	.footer-follow-us form {
		flex-direction: column;}

	.footer-follow-us form input {
		margin-bottom: 10px;
		border-right: 1px solid #e7e7e7;}

	.follow__social-icons {
		justify-content: center;}

	.follow__social-icons p {
		display: none;}}